button {
    
    --color: purple;

    background-color: var(--color); /* Green */
    border: none;
    color: white;
    margin:auto;
    top:100%;
    width:100%;
    padding:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    text-align:center;
    font-family:cursive;
    color: purple;
}

div.redBackground {

    background-color: red;
    background-image: linear-gradient(to bottom right, yellow, red);
}


#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
}